.burger-line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: all .2s ease-in-out;

    .burger-line:hover {
       
            transform: scale(1.25);
        
    }
}