.navbar-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #C89F9C;
    

    
    .navbar-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 8px;
        transition: all .2s ease-in-out;

        &:hover{
            // border: 2px solid black;
            transform: scale(1.15);
        }
    }

    .lost-artist-font {
        margin-left: 120px;
        

        .no-decoration {
            font-family: 'Sarpanch', sans-serif;
            text-decoration: none;
            font-size: 1.25em;
            color: white;
            font-weight: bolder;
            transition: all .2s ease-in-out;
        }

        &:hover {
            .no-decoration {
                transform: scale(1.1);
            }
        }
    }

    

    .navbar-right {
        width: 200px;
        display: flex;
        justify-content: space-around;

            ion-icon {
                margin-top: 15px;
                font-size: 2.5em;
                color: white;
                transition: all .2s ease-in-out; 
                
                
            }

           &:hover {
                    ion-icon {
                    transform: scale(1.1);
                    }
             }
       
    }
}